@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&display=swap');
/*font-family: 'Playfair Display', serif;*/
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');
/*font-family: 'Ubuntu', sans-serif;*/

/*
1.반복적인 스타일을 미리 선언하고 동일한 스타일의 콘텐츠에 사용한다
2. 반복코드를 줄일 수 있다
3. 효율적인 관리
4. 페이지 저용량으로 로딩속도 개선
*/


*{ 
    box-sizing:border-box;
    color:#626262;
    
    font:14px 'Playfair Display', serif;

}
html,body {margin:0; padding:0;}
ul,li {margin:0; padding:0; list-style:none;}
a {text-decoration:none;}
h1,h2,h3,h4,h5,h6,p {margin:0; padding:0;}
h2{font-size:30px; color:#626262}
table{border-collapse: collapse;}

/*margin*/
.mt130 {margin-top:130px !important;}
.mt100 {margin-top:100px !important;}
.mt80 {margin-top:80px !important;}
.mt50 {margin-top:50px !important;}
.mt30 {margin-top:30px !important;}

/*padding*/
.p80 {padding:80px !important;}


.f_center {
    display:flex;
    justify-content:space-between;
    align-content: center;
}

.f_list {
    display:flex;
    flex-wrap: wrap;
    justify-content:space-between;

}

/*font*/
.f_s1{
    font-family: 'Ubuntu', sans-serif;
    color:#b4ad9e;
}

/*width*/
.w-1060{width:1060px; margin:0 auto;}

/*button*/
.btn{
    border:1px solid #626262;
    padding:20px 40px;
    display:inline-block;
    text-transform: capitalize;
}

/*align*/
.center {text-align:center;}


/*header*/
header {
    padding:70px 0; /*헤더,메인등에는 마진으로 여유공간을 주지말고 패딩으로 주기*/
}
header div {
    width:1060px; 
    margin:0 auto;
}
header div nav a{
    display:inline-block;
    padding:0 40px;
    text-transform: uppercase;
}

/*footer*/

footer {
    text-align:center;
    padding:20px 0;
    background-color:#f0f0f0;
    margin-top:100px;
}